*{
    margin: 0;
    padding: 0px;
 
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr)) ;
    gap: 40px;
    padding: 30px;
}
.container img{
    width: 218px;
    height: 218px;
    /*border: 3px solid black;*/
}

.card1{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width:250px;
    
    }
.card2{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width:250px;
}
.card3{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width:250px;
}
.card4{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width:250px;
}
.card5{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
   width:250px;
}
.card :hover{
    display: grid;
}
